<sly-card title="Slider" subtitle="">
  <div>
    <span class="demonstration">Default</span>
    <div style="padding: 0 18px; "> {{{ default_slider }}} </div>
    <div class="fflex">
      <div class="mr5">{{{ value_button }}}</div>
      <div class="mr5">{{{ show_steps_button }}}</div>
      <div class="mr5">{{{ set_steps_button }}}</div>
      <div class="mr5">{{{ set_min_button }}}</div>
      <div class="mr5">{{{ set_max_button }}}</div>
      <div class="mr5">{{{ show_input_button }}}</div>
      <div class="mr5">{{{ show_input_controls_button }}}</div>
    </div>
  </div>
  <div>
    <span class="demonstration">Show Steps</span>
    <div style="padding: 0 18px; "> {{{ step_slider }}} </div>
  </div>
  <div>
    <span class="demonstration">Input with controls</span>
    <div style="padding: 0 18px; "> {{{ input_slider }}} </div>
  </div>
  <div>
    <span class="demonstration">Range</span>
    <div style="padding: 0 18px; "> {{{ range_slider }}} </div>
  </div>
  <div>
    <span class="demonstration">Vertical</span>
    <div style="padding-top: 15px; padding-bottom: 18px;"> {{{ vertical_slider }}} </div>
  </div>
</sly-card>